body {
  background-color: #eee;
}

.App {
  text-align: center;
}

.LoginContainer {
  max-width: 450px;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
}

.Loginform {

  height: 180px;

}


.LoginCard {
  margin-top: 88px;
}

.green {
  color: green;

}

.red {
  color: red;
}