body {
  background-color: #eee;
}

.App {
  text-align: center;
}

.LoginContainer {
  max-width: 450px;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #ccc;
}

.Loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 180px;

}